<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
             
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <title>Ceylon Vaaganaya</title>
   
</head>
<body>
    <navbar>
        
       
            <nav >
              <div class=" nav-wrapper container ">
                 
                    
                  
                <a href="/" ><img src="images/logo.png" alt="" class="responsive-img"></a>
              </div>
            </nav>
          
    </navbar>
    <main>
        <div class="line-top"></div>
        <div class="container">
            <%- body  %>
        </div>
       
    </main>
    <footer class="page-footer ">
        <div class="footer-copyright">
          <div class="container">
          © 2020 Copyright  Lanka vaganaya
          
          </div>
        </div>
    </footer>



   
    
</body>
</html>