<section class="vehicles-category-section">
    <div class="category-item center-align">
        <div class="vehicles-category-icon">
            <i class="small material-icons">airport_shuttle
            </i>
        </div>
        <label >
            Car
        </label>
        
    </div>
    <div class="category-item center-align">
        <div class="vehicles-category-icon">
            <i class="small material-icons">airport_shuttle
            </i>
        </div>
        <label >
            Car
        </label>
        
    </div>
    
    <div class="category-item center-align">
        <div class="vehicles-category-icon">
            <i class="small material-icons">airport_shuttle
            </i>
        </div>
        <label >
            Car
        </label>
        
    </div>
    <div class="category-item center-align">
        <div class="vehicles-category-icon">
            <i class="small material-icons">airport_shuttle
            </i>
        </div>
        <label >
            Car
        </label>
        
    </div>
    <div class="category-item center-align">
        <div class="vehicles-category-icon">
            <i class="small material-icons">airport_shuttle
            </i>
        </div>
        <label >
            Car
        </label>
        
    </div>
    <div class="category-item center-align">
        <div class="vehicles-category-icon">
            <i class="small material-icons">airport_shuttle
            </i>
        </div>
        <label >
            Car
        </label>
        
    </div>
    <div class="category-item center-align">
        <div class="vehicles-category-icon">
            <i class="small material-icons">airport_shuttle
            </i>
        </div>
        <label >
            Car
        </label>
        
    </div>
    <div class="category-item center-align">
        <div class="vehicles-category-icon">
            <i class="small material-icons">airport_shuttle
            </i>
        </div>
        <label >
            Car
        </label>
        
    </div>
</section>
<section class="filter-vehicles-section">
    <div class="filter-vehicle-row">
        <button class="waves-effect waves-light btn btn-default">
            Filter
            <i class="material-icons right">filter_alt</i>
        </button>
    </div>
    <div class="filter-method-row">
        <button class="waves-effect waves-light btn btn-default">
            Modal
            
        </button>
        <button class="waves-effect waves-light btn btn-default">
           Year
            
        </button>
        <button class="waves-effect waves-light btn btn-default">
            Price Range
            
        </button>
        <button class="waves-effect waves-light btn btn-default">
            Modal
            
        </button>
        <button class="waves-effect waves-light btn btn-default">
           Year
            
        </button>
        <button class="waves-effect waves-light btn btn-default">
            Price Range
            
        </button>
        
      
    </div>
    
</section>
<section class="vehicle-ad-section">
    <article class="vehicle-ad">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s2">
                  <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                  <span class="black-text">
                    This is a square image. Add the "circle" class to it to make it appear circular.
                  </span>
                </div>
              </div>
            </div>
          </div>
    </article>
</section>